.login{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 100%;
}
.login-form {
  width: 300px;
}
.login-logo{
	color: #ff99ff;
	display: flex;
	justify-content:center;
	align-items:center;
	font-size: 36px;
	font-weight: bold;
}
.login-form-button {
  width: 100%;
}